<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<h1>Base Template</h1>
{% block content %}
<h2>This is in the base template</h2>
{% endblock %}
</body>
</html>