{% extends 'base.html' %}

{% block content %}
{{ super() }}
<h1>Please fill out the form</h1>
<form method="POST" action="/theform">
    <input type="text" name="name">
    <input type="text" name="location">
    <input type="submit" name="Submit">
</form>
{% endblock %}
