{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{{ super() }}

<h1>Hello {{ name }}, you are on the home page!</h1>

<h1>Database Results!</h1>
{% for item in results %}
<h2>ID: {{ item.id }} Name: {{ item.name }} Location: {{ item.location }}</h2>
{% endfor %}

{% if display %}
<h2>This is being displayed</h2>
{% else %}
<h2>This is not being displayed</h2>
{% endif %}

{% for x in mylist %}
<h3>{{ x }}</h3>
{% endfor %}

{% for x in listofdict %}
<h3>{{ x.name }}</h3>
{% endfor %}

<img src="{{ url_for('static', filename='images/uts.png') }}">

{% include 'include.html' %}
{% endblock %}
